# OS files
.DS_Store
Thumbs.db
/*.mp4

# Node & Angular
node_modules/
**/node_modules/
dist/
**/dist/
.angular/
**/.angular/
tmp/
**/tmp/
out-tsc/
bazel-out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.sass-cache/

# Java & Maven
target/
**/target/
.mvn/wrapper/maven-wrapper.jar
*.class
**/application-local.properties
**/.env

# IDE & Tooling
.idea/
**/.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/
.classpath
**/.classpath
.project
**/.project
.settings/
**/.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache
build/
**/build/
nbproject/
nbbuild/
nbdist/
*.launch
*.sublime-workspace
